body {
	background: skyblue;
}
h1 {
	color: white;
}

.objekt {
  text-align: center;
}

#world{
  position: relative;
  width: 1500px;
  height: 1000px;
  border: 2px solid black;
  background: bisque;
}

.player{
  position: absolute;
}

img{
  image-rendering: pixelated;
  width: 3rem;
  height: auto;
}
