body {
	background: skyblue;
}
h1 {
	color: white;
}

.objekt {
  text-align: center;
}

#world{
  width: 800px;
  height: 600px;
  position: relative;
  overflow: hidden;
  background: bisque;

  background-image: ;
}

.player{
  position: absolute;
}

img{
  image-rendering: pixelated;
  width: 3rem;
  height: auto;
}
